.ubicacion {
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black; }

* {
  padding: 0;
  margin: 0;
  list-style: none; }

body {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  color: white; }

.bodyAccesorios {
  background-image: radial-gradient(circle at 98.46% 50%, #404085 0, #1c2455 25%, #000128 50%, #000000 75%, #000000 100%); }

.bodyCelulares {
  background-image: linear-gradient(220deg, #e1edff 0, #a9bdfb 50%, #6f90d9 100%); }

.bodyGaming {
  background-image: linear-gradient(220deg, #ffffff 0, #e9eaff 50%, #b6bade 100%); }

.bodyComputacion {
  background-image: linear-gradient(220deg, #353e6c 0, #000219 50%, #000000 100%); }

a {
  text-decoration: none; }

.nav {
  text-transform: uppercase; }

.nav a {
  padding: .5em .8em;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  font-size: 20px; }

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0; }

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #3E8914;
  border-right: 3px solid #2E640F;
  transform: translate(-100%, 50%); }

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  transform: translate(100%, -50%); }

.nav a:hover:before,
.nav a:hover:after {
  transform: translate(0, 0);
  opacity: 1; }

.nav a:hover {
  color: #3DA35D; }

.fondo {
  width: 100%; }

.loMejor {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px green; }

/* UBICACION */
.ubicacion {
  background: #bdc3c7;
  background-image: radial-gradient(circle at 98.46% 50%, #404085 0, #1c2455 25%, #000128 50%, #000000 75%, #000000 100%);
  width: 80%;
  padding: 40px 30px;
  margin: 350px auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.cards {
  margin: 200px 0px; }

.logo {
  font-size: 100px; }

.icono {
  font-size: 100px; }

.redes img {
  width: 50px;
  padding: 10px; }

.piePaginas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000; }

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  border-bottom: solid 1px white;
  background-color: #000000; }

.btn1 {
  width: 70px;
  height: 70px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2em;
  margin-right: 1em;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px; }

i.fa {
  font-size: 44px; }

#fb {
  color: #006fff;
  text-shadow: 0 0 30px #006fff; }

#ig {
  color: #ff5f40;
  text-shadow: 0 0 30px #ff5f40; }

#tw {
  color: green;
  text-shadow: 0 0 30px green; }

.btn.fb-btn {
  box-shadow: 0 20px 20px -17px rgba(0, 111, 255, 0.53); }

.btn.fb-btn:hover {
  transform: scale(1.2);
  box-shadow: 0 30px 45px -15px rgba(0, 111, 255, 0.65); }

.btn.ig-btn {
  box-shadow: 0 20px 20px -17px rgba(255, 16, 39, 0.5); }

.btn.ig-btn:hover {
  transform: scale(1.2);
  box-shadow: 0 30px 45px -15px rgba(255, 16, 39, 0.57); }

.btn.tw-btn {
  box-shadow: 0 20px 20px -17px green; }

.btn.tw-btn:hover {
  transform: scale(1.2);
  box-shadow: 0 30px 45px -15px green; }

.nombreComputacion {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 40px;
  margin: 100px auto 0px auto;
  border: solid 2px white; }

.computacion {
  margin: 0px auto 250px auto;
  background: #bdc3c7;
  background-image: radial-gradient(circle at 98.46% 50%, #404085 0, #1c2455 25%, #000128 50%, #000000 75%, #000000 100%);
  width: 80%;
  padding: 80px 50px; }

.computacion img {
  width: 300px; }

.computacion .productosComputacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.4s; }

.computacion p {
  color: black; }

.computacion .productosComputacion a:hover {
  transform: scale(1.07); }

.productosComputacion .comboNoga {
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 80px 30px; }

.productosComputacion .tecladoMouse {
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 30px 30px; }

.productosComputacion .notebookLenovo {
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 30px 30px; }

.paginaComputacion img {
  width: 300px; }

.paginaComputacion h1 {
  display: flex;
  justify-content: center;
  border-top: solid 2px white;
  padding-top: 30px;
  color: white; }

.paginaComputacion {
  width: 100%; }

.paginaComputacion .fotosComputacion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 20px;
  justify-items: center; }

.paginaComputacion .fotosComputacion {
  display: flex;
  flex-wrap: wrap;
  margin: 60px auto 60px auto;
  display: flex;
  justify-content: space-around;
  width: 70%;
  align-items: center; }

.paginaComputacion .imagenCompu1 {
  margin: 30px 30px;
  padding: 60px 30px;
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 60px 30px; }

.paginaComputacion .imagenCompu2 {
  margin: 30px 30px;
  padding: 10px 30px;
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 10px 30px; }

.paginaComputacion .imagenCompu3 {
  margin: 30px 30px;
  padding: 10px 30px;
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 10px 30px; }

.paginaComputacion .imagenCompu4 {
  margin: 30px 30px;
  padding: 10px 30px;
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 10px 30px; }

.paginaComputacion .imagenCompu5 {
  margin: 30px 30px;
  padding: 10px 30px;
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 10px 30px; }

.paginaComputacion .imagenCompu6 {
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 60px 30px; }

.nombreGaming {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 40px;
  margin: 100px auto 0px auto;
  border: solid 2px white; }

.gaming {
  margin: 0px auto 250px auto;
  background: #bdc3c7;
  background-image: radial-gradient(circle at 98.46% 50%, #404085 0, #1c2455 25%, #000128 50%, #000000 75%, #000000 100%);
  width: 80%;
  padding: 80px 50px; }

.gaming img {
  width: 300px; }

.gaming .productosGaming {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.4s; }

.productosGaming a:hover {
  transform: scale(1.07);
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black; }

.gaming p {
  color: black; }

.gaming .controlPs3 {
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 30px 30px; }

.gaming .controlPs4 {
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 100px 30px; }

.gaming .ps4Pro {
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 80px 30px; }

.paginaGaming img {
  width: 300px; }

.paginaGaming h1 {
  display: flex;
  justify-content: center;
  border-top: solid 2px black;
  padding-top: 30px;
  color: black; }

.paginaGaming {
  width: 100%; }

.paginaGaming .fotosGaming {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 20px;
  justify-items: center; }

.paginaGaming .imagenGaming1 {
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 30px; }

.paginaGaming .imagenGaming2 {
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 100px 30px; }

.paginaGaming .imagenGaming3 {
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 80px 30px; }

.paginaGaming .imagenGaming4 {
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 30px; }

.paginaGaming .imagenGaming5 {
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 30px; }

.paginaGaming .imagenGaming6 {
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 30px; }

.nombreAccesorio {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 40px;
  margin: 100px auto 0px auto;
  border: solid 2px white; }

.accesorios {
  margin: 0px auto 250px auto;
  background: #bdc3c7;
  background-image: radial-gradient(circle at 98.46% 50%, #404085 0, #1c2455 25%, #000128 50%, #000000 75%, #000000 100%);
  width: 80%;
  padding: 80px 50px; }
  .accesorios .productosAccesorios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.4s; }

.accesorios img {
  width: 300px; }

.productosAccesorios a:hover {
  transform: scale(1.07); }

.accesorios p {
  color: black; }

.accesorios .auricular {
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 60px 30px; }

.accesorios .cargadorPortatil {
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 80px 30px; }

.accesorios .soporteAuto {
  background-color: white;
  color: black;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 30px 30px;
  padding: 80px 30px; }

.paginaAccesorios h2, p {
  display: flex;
  justify-content: center; }

.paginaAccesorios p {
  border-bottom: solid 2px white; }

.card1 {
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 50px 60px;
  padding: 31px 20px;
  transition: transform 0.4s; }

.card2 {
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 50px 60px;
  padding: 27px 20px;
  transition: transform 0.4s; }

.card3 {
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 50px 60px;
  padding: 40px 20px;
  transition: transform 0.4s; }

.card4 {
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 50px 60px;
  padding: 40px 20px;
  transition: transform 0.4s; }

.card5 {
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 50px 60px;
  padding: 40px 20px;
  transition: transform 0.4s; }

.card6 {
  margin: 50px 60px;
  padding: 40px 20px;
  border-radius: 2rem;
  border: solid 2px transparent;
  box-shadow: 5px 8px 12px black;
  margin: 50px 60px;
  padding: 40px 20px;
  transition: transform 0.4s; }

.card1:hover {
  transform: scale(1.1); }

.card2:hover {
  transform: scale(1.1); }

.card3:hover {
  transform: scale(1.1); }

.card4:hover {
  transform: scale(1.1); }

.card5:hover {
  transform: scale(1.1); }

.card6:hover {
  transform: scale(1.1); }

.nombreCelulares {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 40px;
  margin: 100px auto 0px auto;
  border: solid 2px white; }

.celulares {
  margin: 0px auto 250px auto;
  background: #bdc3c7;
  background-image: radial-gradient(circle at 98.46% 50%, #404085 0, #1c2455 25%, #000128 50%, #000000 75%, #000000 100%);
  width: 80%;
  padding: 80px 50px; }
  .celulares .productosCelulares {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.4s; }
    .celulares .productosCelulares .a03s {
      background-color: white;
      color: black;
      border-radius: 2rem;
      border: solid 2px transparent;
      box-shadow: 5px 8px 12px black;
      margin: 30px 30px;
      padding: 80px 30px; }
    .celulares .productosCelulares .a12 {
      background-color: white;
      color: black;
      border-radius: 2rem;
      border: solid 2px transparent;
      box-shadow: 5px 8px 12px black;
      margin: 30px 30px;
      padding: 80px 30px; }
    .celulares .productosCelulares .a22 {
      background-color: white;
      color: black;
      border-radius: 2rem;
      border: solid 2px transparent;
      box-shadow: 5px 8px 12px black;
      margin: 30px 30px;
      padding: 80px 30px; }

.celulares img {
  width: 300px; }

.productosCelulares a:hover {
  transform: scale(1.07); }

.celulares p {
  color: black; }

.celularesPagina h1 {
  display: flex;
  justify-content: center;
  border-top: solid 2px black;
  padding-top: 30px;
  color: black; }

.celularesPagina {
  width: 100%; }
  .celularesPagina h2 {
    color: white; }
  .celularesPagina img {
    width: 250px; }
  .celularesPagina .fotosCelulares {
    display: flex;
    flex-wrap: wrap;
    margin: 60px auto 60px auto;
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center; }
    .celularesPagina .fotosCelulares .imagenCelu1 {
      background-color: white;
      color: black;
      border-radius: 2rem;
      border: solid 2px transparent;
      box-shadow: 5px 8px 12px black;
      margin: 30px 30px;
      padding: 30px;
      transition: transform 0.4s; }
    .celularesPagina .fotosCelulares .imagenCelu2 {
      background-color: white;
      color: black;
      border-radius: 2rem;
      border: solid 2px transparent;
      box-shadow: 5px 8px 12px black;
      margin: 30px 30px;
      padding: 30px;
      transition: transform 0.4s; }
    .celularesPagina .fotosCelulares .imagenCelu3 {
      background-color: white;
      color: black;
      border-radius: 2rem;
      border: solid 2px transparent;
      box-shadow: 5px 8px 12px black;
      margin: 30px 30px;
      padding: 30px;
      transition: transform 0.4s; }
    .celularesPagina .fotosCelulares .imagenCelu4 {
      background-color: white;
      color: black;
      border-radius: 2rem;
      border: solid 2px transparent;
      box-shadow: 5px 8px 12px black;
      margin: 30px 30px;
      padding: 30px;
      transition: transform 0.4s; }
    .celularesPagina .fotosCelulares .imagenCelu5 {
      background-color: white;
      color: black;
      border-radius: 2rem;
      border: solid 2px transparent;
      box-shadow: 5px 8px 12px black;
      margin: 30px 30px;
      padding: 52px 30px;
      transition: transform 0.4s; }
    .celularesPagina .fotosCelulares .imagenCelu6 {
      background-color: white;
      color: black;
      border-radius: 2rem;
      border: solid 2px transparent;
      box-shadow: 5px 8px 12px black;
      margin: 30px 30px;
      padding: 30px;
      transition: transform 0.4s; }

.imagenCelu1:hover {
  transform: scale(1.1); }

.imagenCelu2:hover {
  transform: scale(1.1); }

.imagenCelu3:hover {
  transform: scale(1.1); }

.imagenCelu4:hover {
  transform: scale(1.1); }

.imagenCelu5:hover {
  transform: scale(1.1); }

.imagenCelu6:hover {
  transform: scale(1.1); }

@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center; }
  /*index*/
  .computacion {
    flex-direction: column;
    padding: 60px 20px; }
  .gaming {
    flex-direction: column;
    padding: 60px 20px; }
  .accesorios {
    flex-direction: column; }
  .paginaComputacion .fotosComputacion {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); }
  .paginaGaming .fotosGaming {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); }
  .paginaGaming img {
    width: 200px; }
  .paginaComputacion img {
    width: 200px; }
  .ubicacion .mapa {
    width: 400px;
    height: 400px; }
  .icono {
    font-size: 50px; } }

@media only screen and (max-width: 320px) {
  .nombre {
    font-size: 20px; }
  .header {
    flex-direction: column;
    align-items: center; }
  .menu ul {
    font-size: 9px;
    padding-top: 10px; }
  .computacion {
    flex-direction: column;
    padding: 60px 15px;
    background: none; }
  .gaming {
    padding: 60px 15px;
    background: none; }
  .accesorios {
    padding: 60px 15px;
    background: none; }
  .celulares {
    padding: 60px 15px;
    background: transparent; }
  .computacion img {
    width: 150px; }
  .gaming img {
    width: 150px; }
  .accesorios img {
    width: 150px; }
  .celulares img {
    width: 150px; }
  .ubicacion .mapa {
    width: 200px; }
  .paginaComputacion .fotosComputacion {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr); }
  .paginaGaming .fotosGaming {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr); }
  .paginaComputacion img {
    width: 200px; }
  .celularesPagina img {
    width: 200px; }
  .paginaGaming img {
    width: 200px; }
  .paginaAccesorios img {
    width: 200px; }
  .icono {
    font-size: 30px; }
  .paginaAccesorios img {
    width: 200px; } }
