.nombreCelulares{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: black;
    color: map-get($coloresLetras , "color1" );
    font-size: 40px;
    margin: 100px auto 0px auto;
    border: solid 2px white;
}
.celulares{
    margin: 0px auto 250px auto;
    background: #bdc3c7;
    background-image: $color-secundario;
    width: 80%;
    padding: 80px 50px;

    .productosCelulares{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        transition: transform 0.4s;

        .a03s{
            background-color: $color-cards;
            color: map-get($coloresLetras , "color2" );
            @include bordesRedondeadosParaCards (30px 30px, 80px 30px);
        }
        .a12{
            background-color: $color-cards;
            color: map-get($coloresLetras , "color2" );
            @include bordesRedondeadosParaCards (30px 30px, 80px 30px);
        }
        .a22{
            background-color: $color-cards;
            color: map-get($coloresLetras , "color2" );
            @include bordesRedondeadosParaCards (30px 30px, 80px 30px);
        }
    }
}
.celulares img{
    width: 300px;
}
.productosCelulares a:hover{
    transform: scale(1.07);
}
.celulares p{
    color: map-get($coloresLetras , "color2" );
}
.celularesPagina h1{
    display: flex;
    justify-content: center;
    border-top: solid 2px black;
    padding-top: 30px;
    color: map-get($coloresLetras , "color2" );
}
.celularesPagina{
    width: 100%;
    h2{
        color: white;
    }
    img{
        width: 250px;
    }

    .fotosCelulares{
        display: flex;
        flex-wrap: wrap;
        margin: 60px auto 60px auto;
        display: flex;
        justify-content: space-around;
        width: 70%;
        align-items: center;

            .imagenCelu1{
                background-color: $color-cards;
                color: map-get($coloresLetras , "color2" );
                @include bordesRedondeadosParaCards (30px 30px, 30px);
                transition: transform 0.4s;
        }
            .imagenCelu2{
                background-color: $color-cards;
                color: map-get($coloresLetras , "color2" );
                @include bordesRedondeadosParaCards (30px 30px, 30px);
                transition: transform 0.4s;
        }
            .imagenCelu3{
                background-color: $color-cards;
                color: map-get($coloresLetras , "color2" );
                @include bordesRedondeadosParaCards (30px 30px, 30px);
                transition: transform 0.4s;
        }
            .imagenCelu4{
                background-color: $color-cards;
                color: map-get($coloresLetras , "color2" );
                @include bordesRedondeadosParaCards (30px 30px, 30px);
                transition: transform 0.4s;
        }
            .imagenCelu5{
                background-color: $color-cards;
                color: map-get($coloresLetras , "color2" );
                @include bordesRedondeadosParaCards (30px 30px, 52px 30px);
                transition: transform 0.4s;
        }
            .imagenCelu6{
                background-color: $color-cards;
                color: map-get($coloresLetras , "color2" );
                @include bordesRedondeadosParaCards (30px 30px, 30px);
                transition: transform 0.4s;
        }

           
    }

}
.imagenCelu1:hover {
    transform: scale(1.1);
}
.imagenCelu2:hover {
    transform: scale(1.1);
}
.imagenCelu3:hover {
    transform: scale(1.1);
}
.imagenCelu4:hover {
    transform: scale(1.1);
}
.imagenCelu5:hover {
    transform: scale(1.1);
}
.imagenCelu6:hover {
    transform: scale(1.1);
} 