.nombreComputacion{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: black;
    color: white;
    font-size: 40px;
    margin: 100px auto 0px auto;
    border: solid 2px white;
}
.computacion{
    margin: 0px auto 250px auto;
    background: #bdc3c7;
    background-image: $color-secundario;
    width: 80%;
    padding: 80px 50px;
}
.computacion img{
    width: 300px;
}
.computacion .productosComputacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.4s;
}
.computacion p{
    color: map-get($coloresLetras , "color2" );
}
.computacion .productosComputacion a:hover{
    transform: scale(1.07);
}
.productosComputacion .comboNoga{
    background-color: $color-cards;
    color: map-get($coloresLetras , "color2" );
    @include bordesRedondeadosParaCards (30px 30px, 80px 30px);
}
.productosComputacion .tecladoMouse{
    background-color: $color-cards;
    color: map-get($coloresLetras , "color2" );
    @include bordesRedondeadosParaCards (30px 30px, 30px 30px);
}
.productosComputacion .notebookLenovo{
    background-color: $color-cards;
    color: map-get($coloresLetras , "color2" );
    @include bordesRedondeadosParaCards (30px 30px, 30px 30px);
}
.paginaComputacion img{
    width: 300px;
}
.paginaComputacion h1{
    display: flex;
    justify-content: center;
    border-top: solid 2px white;
    padding-top: 30px;
    color: map-get($coloresLetras , "color1" );
}
.paginaComputacion{
    width: 100%;
}
.paginaComputacion .fotosComputacion{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;
    justify-items: center;
}
.paginaComputacion .fotosComputacion{
    display: flex;
    flex-wrap: wrap;
    margin: 60px auto 60px auto;
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center;
}
 .paginaComputacion .imagenCompu1{
    margin: 30px 30px;
    padding:  60px 30px;
    background-color: $color-cards;
    color: map-get($coloresLetras , "color2" );
    @include bordesRedondeadosParaCards (30px 30px, 60px 30px);
}
.paginaComputacion .imagenCompu2{
    margin: 30px 30px;
    padding:  10px 30px;
    background-color: $color-cards;
    color: map-get($coloresLetras , "color2" );
    @include bordesRedondeadosParaCards (30px 30px, 10px 30px);
}
.paginaComputacion .imagenCompu3{
    margin: 30px 30px;
    padding: 10px 30px;
    background-color: $color-cards;
    color: map-get($coloresLetras , "color2" );
    @include bordesRedondeadosParaCards (30px 30px, 10px 30px);
}
.paginaComputacion .imagenCompu4{
    margin: 30px 30px;
    padding: 10px 30px;
    background-color: $color-cards;
    color: map-get($coloresLetras , "color2" );
    @include bordesRedondeadosParaCards (30px 30px, 10px 30px);
}
.paginaComputacion .imagenCompu5{
    margin: 30px 30px;
    padding: 10px 30px;
    background-color: $color-cards;
    color: map-get($coloresLetras , "color2" );
    @include bordesRedondeadosParaCards (30px 30px, 10px 30px);
}
.paginaComputacion .imagenCompu6{
    background-color: $color-cards;
    color: map-get($coloresLetras , "color2" );
    @include bordesRedondeadosParaCards (30px 30px, 60px 30px);
}