.nombreGaming{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: black;
    color: map-get($coloresLetras , "color1" );
    font-size: 40px;
    margin: 100px auto 0px auto;
    border: solid 2px white;
}
.gaming{
    margin: 0px auto 250px auto;
    background: #bdc3c7;
    background-image: $color-secundario;
    width: 80%;
    padding: 80px 50px;
}
.gaming img{
    width: 300px;
}
.gaming .productosGaming{
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.4s;
}
.productosGaming a:hover{
    transform: scale(1.07);
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black ;
}
.gaming p{
    color: map-get($coloresLetras , "color2" );
}
.gaming .controlPs3{
    background-color: $color-cards;
    color: map-get($coloresLetras , "color2" );
    @include bordesRedondeadosParaCards (30px 30px, 30px 30px);
}
.gaming .controlPs4{
    background-color: $color-cards;
    color: map-get($coloresLetras , "color2" );
    @include bordesRedondeadosParaCards (30px 30px, 100px 30px);
}
.gaming .ps4Pro{
    background-color: $color-cards;
    color: map-get($coloresLetras , "color2" );
    @include bordesRedondeadosParaCards (30px 30px, 80px 30px);
}
.paginaGaming img{ 
    width: 300px;
}
.paginaGaming h1{ 
    display: flex;
    justify-content: center;
    border-top: solid 2px black;
    padding-top: 30px;
    color: map-get($coloresLetras , "color2" );
}
.paginaGaming{  
    width: 100%;
}
.paginaGaming .fotosGaming{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;
    justify-items: center;
}
.paginaGaming .imagenGaming1{
    background-color: $color-cards;
    color: map-get($coloresLetras , "color2" );
    @include bordesRedondeadosParaCards (30px 30px, 30px);
}
.paginaGaming .imagenGaming2{
    background-color: $color-cards;
    color: map-get($coloresLetras , "color2" );
    @include bordesRedondeadosParaCards (30px 30px, 100px 30px);
}
.paginaGaming .imagenGaming3{
    background-color: $color-cards;
    color: map-get($coloresLetras , "color2" );
    @include bordesRedondeadosParaCards (30px 30px, 80px 30px);
}
.paginaGaming .imagenGaming4{
    background-color: $color-cards;
    color: map-get($coloresLetras , "color2" );
    @include bordesRedondeadosParaCards (30px 30px, 30px);
}
.paginaGaming .imagenGaming5{
    background-color: $color-cards;
    color: map-get($coloresLetras , "color2" );
    @include bordesRedondeadosParaCards (30px 30px, 30px);
}
.paginaGaming .imagenGaming6{
    background-color: $color-cards;
    color: map-get($coloresLetras , "color2" );
    @include bordesRedondeadosParaCards (30px 30px, 30px);
}