
$color-secundario: radial-gradient(circle at 98.46% 50%, #404085 0, #1c2455 25%, #000128 50%, #000000 75%, #000000 100%); 
$color3:linear-gradient(220deg, #e1edff 0, #a9bdfb 50%, #6f90d9 100%);
$color4: linear-gradient(220deg, #ffffff 0, #e9eaff 50%, #b6bade 100%);
$color5:linear-gradient(220deg, #353e6c 0, #000219 50%, #000000 100%);
$color-cards: white;

$coloresLetras: (
    "color1": white,
    "color2": black
);

@mixin bordesRedondeadosParaCards ($margin, $padding) {
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
    margin: $margin;
    padding: $padding;
}

%bordes {
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}