* {
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
}
body{
    background: #000000;  
    background: -webkit-linear-gradient(to right, #434343, #000000); 
    background: linear-gradient(to right, #434343, #000000); 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
.fondo{
    width: 100%;
}
.logo img{
    width: 50px;
}
.menu a{
    color: white;
}
.header{
    display: flex;
    background-color: #000000;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.nombre{
    color: white;
    background-position: center;
}
.menu ul{
    display: flex;
    align-items: center;
}
.menu li{
    margin-right: 1.5rem;
}
.menu a:hover{
    color: aqua;
}
.nombreComputacion{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-size: 40px;
}
.computacion{
    margin: 250px auto;
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    width: 80%;
    padding: 80px 50px;
    border-radius: 6rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black ;
}
.computacion img{
    width: 300px;
}
.computacion .productosComputacion{
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.computacion p{
    color: black;
}
.productosComputacion .comboNoga{
    margin: 30px 30px;
    padding: 80px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.productosComputacion .tecladoMouse{
    margin: 30px 30px;
    padding: 30px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.productosComputacion .notebookLenovo{
    margin: 30px 30px;
    padding: 30px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.paginaComputacion img{
    width: 300px;
}
.paginaComputacion{
    width: 100%;
}
.paginaComputacion .fotosComputacion{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;
    justify-items: center;
}
/*.paginaComputacion .fotosComputacion{
    display: flex;
    flex-wrap: wrap;
    margin: 60px auto 60px auto;
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center;
}*/
.paginaComputacion .imagenCompu1{
    margin: 30px 30px;
    padding:  60px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.paginaComputacion .imagenCompu2{
    margin: 30px 30px;
    padding:  10px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.paginaComputacion .imagenCompu3{
    margin: 30px 30px;
    padding: 10px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.paginaComputacion .imagenCompu4{
    margin: 30px 30px;
    padding: 10px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.paginaComputacion .imagenCompu5{
    margin: 30px 30px;
    padding: 10px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.paginaComputacion .imagenCompu6{
    margin: 30px 30px;
    padding: 60px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.nombreGaming{
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-size: 50px;
}
.gaming{
    margin: 250px auto;
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    width: 80%;
    padding: 80px 50px;
    border-radius: 6rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black ;
}
.gaming img{
    width: 300px;
}
.gaming .productosGaming{
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gaming p{
    color: black;
}
.gaming .controlPs3{
    margin: 30px 30px;
    padding: 30px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.gaming .controlPs4{
    margin: 30px 30px;
    padding: 30px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.gaming .ps4Pro{
    margin: 30px 30px;
    padding: 30px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.paginaGaming img{ 
    width: 300px;
}
.paginaGaming{  
    width: 100%;
}
.paginaGaming .fotosGaming{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;
    justify-items: center;
}
.paginaGaming .imagenGaming1{
    margin: 30px 30px;
    padding: 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.paginaGaming .imagenGaming2{
    margin: 30px 30px;
    padding: 100px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.paginaGaming .imagenGaming3{
    margin: 30px 30px;
    padding:  80px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.paginaGaming .imagenGaming4{
    margin: 30px 30px;
    padding: 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.paginaGaming .imagenGaming5{
    margin: 30px 30px;
    padding: 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.paginaGaming .imagenGaming6{
    margin: 30px 30px;
    padding: 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.nombreAccesorio{
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-size: 50px;
}
.accesorios{
    margin: 250px auto;
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    width: 80%;
    padding: 80px 50px;
    border-radius: 6rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black ;
}
.accesorios img{
    width: 300px;
}
.accesorios .productosAccesorios{
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.accesorios p{
    color: black;
}
.accesorios .auricular{
    margin: 30px 30px;
    padding: 80px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.accesorios .cargadorPortatil{
    margin: 30px 30px;
    padding: 80px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.accesorios .soporteAuto{
    margin: 30px 30px;
    padding: 80px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.paginaAccesorios{
    width: 100%;
}
.paginaAccesorios img{
    width: 300px;
}
.paginaAccesorios .fotosAccesorios{
    display: flex;
    flex-wrap: wrap;
    margin: 60px auto 60px auto;
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center;
}
.paginaAccesorios .imagenAcceso1{
    margin: 30px 30px;
    padding: 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.paginaAccesorios .imagenAcceso1 img{
    width: 225px;
}
.paginaAccesorios .imagenAcceso2{
    margin: 30px 30px;
    padding: 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.paginaAccesorios .imagenAcceso3{
    margin: 30px 30px;
    padding: 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;

}
.nombreCelulares{
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-size: 50px;
}
.celulares{
    margin: 250px auto;
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    width: 80%;
    padding: 80px 50px;
    border-radius: 6rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black ;
}
.celulares img{
    width: 300px;
}
.celulares .productosCelulares{
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.celulares .a03s{
    margin: 30px 30px;
    padding: 80px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.celulares .a12{
    margin: 30px 30px;
    padding: 80px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.celulares .a22{
    margin: 30px 30px;
    padding: 80px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.celulares p{
    color: black;
}
.celularesPagina{
    width: 100%;
}
.celularesPagina img{
    width: 250px;
}
.celularesPagina h2{
    color: white;
}
.celularesPagina .fotosCelulares{
    display: flex;
    flex-wrap: wrap;
    margin: 60px auto 60px auto;
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center;
}
.celularesPagina .imagenCelu1{
    margin: 30px 30px;
    padding: 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
    transition: transform 0.4s;
}
.celularesPagina .imagenCelu2{
    margin: 30px 30px;
    padding: 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
    transition: transform 0.4s;
}
.celularesPagina .imagenCelu3{
    margin: 30px 30px;
    padding: 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
    transition: transform 0.4s;
}
.celularesPagina .imagenCelu4{
    margin: 30px 30px;
    padding: 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
    transition: transform 0.4s;
}
.celularesPagina .imagenCelu5{
    margin: 30px 30px;
    padding: 52px 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
    transition: transform 0.4s;
}
.celularesPagina .imagenCelu6{
    margin: 30px 30px;
    padding: 30px;
    background-color: white;
    color: #000000;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
    transition: transform 0.4s;
}
.imagenCelu1:hover {
    transform: scale(1.1);
}
.imagenCelu2:hover {
    transform: scale(1.1);
}
.imagenCelu3:hover {
    transform: scale(1.1);
}
.imagenCelu4:hover {
    transform: scale(1.1);
}
.imagenCelu5:hover {
    transform: scale(1.1);
}
.imagenCelu6:hover {
    transform: scale(1.1);
}
/* UBICACION */
.ubicacion{
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    width: 80%;
    padding: 40px 30px;
    margin: 350px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
/* FORMULARIO */
.formulario{
    margin: 250px auto;
    width: 80%;
    padding: 40px 30px;
    color: #000000;
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    display: flex;
    flex-direction: column;
    align-items: center;  
    border-radius: 2rem;
    border: solid 2px transparent;
    box-shadow: 5px 8px 12px black;
}
.formulario .tituloFormulario{
    justify-content: center;
    padding-bottom: 5px;
}
.redes{
    display: flex;
    padding: 20px 20px;
    border-bottom: solid 1px white;
}
.redes img{
    width: 30px;
    padding: 10px;
}
.tituloQuienes{
    display: flex;
}
.piePaginas{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}
@media only screen and (max-width: 768px) {
    .header{
        flex-direction: column;
        align-items: center;
    }
    /*index*/
    .computacion{
        flex-direction: column;
        padding: 60px 20px;
    }
    .gaming{
        flex-direction: column;
        padding: 60px 20px;
    }
    .accesorios{
        flex-direction: column;
    }
    .paginaComputacion .fotosComputacion{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .paginaGaming .fotosGaming{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .paginaGaming img{
        width: 200px;
    }
    .paginaComputacion img{
        width: 200px;
    }
    .ubicacion .mapa{
        width: 400px;
        height: 400px;
    }
    
} 
@media only screen and (max-width: 320px) {
    .nombre{
        font-size: 20px;
    }
    .header{
        flex-direction: column;
        align-items: center;
    }
    .menu ul{
        font-size: 9px;
        padding-top: 10px;
    }
    .computacion{
        flex-direction: column;
        padding: 60px 15px;
        background: none;
    }
    .gaming{
        padding: 60px 15px;
        background: none;
    }
    .accesorios{
        padding: 60px 15px;
        background: none;
    }
    .celulares{
        padding: 60px 15px;
        background: transparent;
    }
    .computacion img{
        width: 150px;
    }
    .gaming img{
        width: 150px;
    }
    .accesorios img{
        width: 150px;
    }
    .celulares img{
        width: 150px;
    }
    .ubicacion .mapa{
        width: 200px;
    }
    .paginaComputacion .fotosComputacion{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .paginaGaming .fotosGaming{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .paginaComputacion img{
        width: 200px;
    }
    .celularesPagina img{
        width: 200px;
    }
    .paginaGaming img{
        width: 200px;
    }
    .paginaAccesorios img{
        width: 200px;
    }
}
